hr {
  margin-top: 5px;
  border-top: 1px solid #afafaf;
}
.main-header .sidebar-toggle:before {
  content:  none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding:4px
}

.skin-red-light .main-header .navbar .dropdown-menu li a {
  color: inherit;
}

td .btn.btn-xs {
  margin-right:2px;
}